<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.5/fullpage.min.css" />
    <link rel="stylesheet" href="../css/main.css">
    <title>Bookware</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/jquery.ScrollMagic.js"></script> -->
    <link rel="stylesheet" type="text/css" href="fullpage.css" />

    <!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "easeInOutCubic". -->
    
    
    <!-- This following line is only necessary in the case of using the option `scrollOverflow:true` -->
    

<body>

    <div id="fullpage">

        

        <div class="section s1">
            <a href="http://localhost:3000/"><h1>Bookware</h1></a>
            
            <h2>My Books, My Treasure</h2>
        </div>

        <div class="section s2">
            <h1>About Us</h1>
            <p>
                    The Bookware app will allow collectors to easily catalog their collection by finding and capturing
                    product details for them. The app will also allow the user to interact with archived items reading
                    summaries and reviews, adding personalized comments, ratings and rankings. The app will also support
                    any transaction bookkeeping by capturing, purchase and sale activity, including market price, cost basis,
                    and any sales prices.
                    This app will allow collectors to easily take stock of their collection, regain appreciation for it,
                    easily retrieve items from storage, and facilitate decision making for liquidations and additional
                    acquisitions.
            </p>
        </div>

        <div class="section s3">
            <a href= "https://github.com/bigalr8/Bookware.git"><h1>Contact</h1></a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.5/fullpage.min.js"></script>

   <script>
   
    new fullpage("#fullpage", {
        autoscrolling: true,
        navigation: true,
       navigationTooltips: ["Home", "About", "Github"],
       showActiveTooltip: true,
    })
   </script> 
</body>

</html>